{{!-- {{#each blogpost as |blogpost| }}
<div>
    <article>
        <h4>{{title}}</h4>
        <div>
            <p>{{content}}</p>
            <p>Posted by {{user.username}}</p>
        </div>
    </article>
</div>
{{/each}} --}}